.node{
  display: inline-block;
  width:25px;
  height: 25px;
  outline: 1px solid gray;
  margin: 2px;
}
.node-start{
  background-color: #00FF00;
}
.node-finish{
  background-color: #FF0000;
}
.node-wall{
  background-color: #000000;
}